.template-manager {
  padding: 20px;
}

.edit-button.editing {
  background-color: lightcoral; /* color cuando isEditing es verdadero */
}

.button-group {
  margin-bottom: 20px;
  display: inline-flex;
}

.edit-button, .add-button, .add-category-button {
  background-color: #277cd6; /* color predeterminado */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-button:hover, .add-button:hover, .add-category-button:hover {
  background-color: #1e5cb7; /* color al pasar el mouse */
}

.categories {
  display: flex;
  margin-bottom: 20px;
  gap: 20px; /* Separación entre las categorías */
  flex-direction: row;
  background-color: #f2f2f2;
}

.category {
  background-color: #91badf;
  position: relative;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  max-height: 500px;
  overflow-y: auto;
  overflow: visible;
}

.category-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.category-button {
  padding: 10px 20px;
  margin-right: 10px;
}

.category-button.selected {
  background-color: #007bff;
  color: white;
}